<div id="sidebar">
  <header>
    <div class="myimg">
    <a href="https://www.github.com/yesdoing">
      <img src="/public/logo.jpg" alt="profile picture" />
    </a>
  </div>
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      <a href="{{ site.baseurl }}/">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        {{ site.title }}
      </a>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
    <p class="lead">{{ site.description }}</p>
  </header>
  {% include sidebar-nav-links.html %}


  {% include sidebar-icon-links.html %}
  {% include copyright.html %}
</div>
